html {
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--color-black);
}

:root {
    --color-black: #333333;
    --color-white: #ffffff;
    --color-gray: rgba(0, 0, 0, 0.3);
}

.btn-reset {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    opacity: 0.6;
    background-color: transparent;
    color: var(--color-white);
}

input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #555;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked + span::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label:hover span {
    border-color: #000;
}